@page "{id:Guid?}"
@model Lab12.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Domain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Description)
        </dd>
    </dl>
    
    <h4>Comments</h4>
    <hr />
    
    <h6>Add your comment</h6>
    
    <form method="post">
        <div class="form-group">
            <label asp-for="Comment" class="control-label"></label>
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div> 
    
        <input type="submit" name="save" value="Submit" />
    </form>

    <ul>
        @foreach (var comment in Model.Post.Comments)
        {
            <li>@comment.Text</li>
        }
    </ul>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
